* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
}

.welcome{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.welcome h4{
    max-width: 250px;
    font-weight: 300;
    font-size: 26px;
    margin: 50px auto 0;
}
.welcome h4 span{
    color: #FE3E57;
    font-size: inherit;
}
.welcome .footer{
    font-weight: 300;
    margin-bottom: 20px;
}
.welcome .footer a{
    text-decoration: none;
    color: #FE3E57;
}

.welcomeBtnGroup{
    display: flex;
    height: 68vh;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.welcomeBtnGroup .vs{
    background: #fa7f90;
    padding: 18px 40px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    cursor: pointer;
}


.welcomeBtnGroup div:hover i {
    color: gray;
}
.welcomeBtnGroup div:hover p {
    color: gray;
}
.welcomeBtnGroup .vs i{
    font-size: 40px;
}
.welcomeBtnGroup .vs p{
    font-weight: 300;
    font-size: 20px;
    margin-top: 10px;
}

.twoPlayerVersion {
    height: 80vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.twoPlayerVersion h2 {
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
}

.twoPlayerVersion>p {
    font-size: 24px;
    margin: 10px 0 30px;
}

.btnG {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.btnG div {
    min-width: 65px;
    background: #baf2e1;
    padding: 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.btnG div:hover i {
    color: gray;
}

.btnG div:hover p {
    color: gray;
}

.btnG p {
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
}

.btnG i {
    font-size: 40px;
}

.btnGroupTwo div {
    background: #f1c9ff;
}

.btnGroupTwo {
    display: none;
}

button{
    display: none;
    margin-top: 20px;
    padding: 5px 10px;
}


.computerVersion {
    height: 80vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.computerVersion h2 {
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
}

.computerVersion>p {
    font-size: 24px;
    margin: 10px 0 30px;
}

.btnGroupTwo div {
    background: #f1c9ff;
}
